@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

/* NAV */

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 0;
}

.header .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 12px;
}

.header ul li {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* SUB-HEADER */

.subheader {
    background-color: #1F2937;
    padding: 4.5rem 0;
}

.subheader .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* children */
.sub {
    flex: 1 1 350px;
    min-width: 0;
    height: 220px;
}

.sub.text {
    color: white;
}

.sub.text p {
    margin-bottom: 0.5rem;
    padding-right: 3rem;
}

.sub.text button {
    border: #3882F6 2px solid;
    padding: 4px 20px;
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}

.sub.image {
    border-radius: 15px;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.sub.text h1{
    font-size: 36px;
    padding-right: 10px ;
}

/* INFORMATION */

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 4rem;
}

.image-container {
    display: flex;
    gap: 32px;
    padding: 24px;
    flex-wrap: wrap;
}

.image-container .images {
    display: flex;
    gap: 8px;
    flex-direction: column;

}

.image-text {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    border: #3882F6 solid 1.4px;
    box-shadow: 10px 10px 5px lightblue;
}

.images p {
    width: 100px;
    align-self: center;
    text-align: center;
}

.image-text img {
    width: 100%;
    height: 110%;
    object-fit:cover;
}

/* QUOTE */

.quote {
    background-color: lightgray;
}

.quote .container {
    width: 50%;
    margin: 0 auto;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
}

.quote .container p:last-child {
    margin-left: auto;
    font-weight: bolder;
    font-size: 1.2rem;
}

.quote .container p:first-child {
    font-size: 1.5rem;
}


/* SIGN-UP  */

.sign-up .container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 1.8rem 0;
}

.sign-up {
    padding: 5rem 0;
}

.sign-up .container .button {
    align-self: center;
}


.sign-up .container button {
    border: white 2px solid;
    padding: 4px 1rem;
    text-wrap: nowrap;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-radius: 7px;
}

.sign-up .container .text {
    color: white;
    padding-right: 8rem;
}


.sign-up .container .text p:first-child {
    font-size: 1.1rem;
    font-weight: 800;
}

.sign-up .container .text p:nth-child(2) {
    font-size: 0.8rem;
}

/* FOOTER */

.footer {
    padding: 1.5rem;
    text-align: center;
    background-color: #1F2937;
    color: white;
}